<section class="contact" id="contact">
  <h2 class="heading-2">
    If you have a great <span class="violet">idea</span> or an exciting <span
      class="green">project,</span
    > feel free to get in touch with me!
  </h2>
  <ul class="social">
    <li>
      <a href="mailto:tsenov9@gmail.com" role="button" class="button">
        <span class="button-text">Email</span>
        <span class="button-box-icon">
          <i class="ri-mail-fill"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="/CV.pdf" role="button" class="button" target="_blank">
        <span class="button-text">CV</span>
        <span class="button-box-icon">
          <i class="ri-file-fill"></i>
        </span>
      </a>
    </li>
    <li>
      <a
        href="https://github.com/skibidiby"
        role="button"
        class="button"
        target="_blank"
      >
        <span class="button-text">Github</span>
        <span class="button-box-icon">
          <i class="ri-github-fill"></i>
        </span>
      </a>
    </li>
  </ul>
  <footer class="contact-footer">
    <p class="text-normal">
      © {new Date().getFullYear()} All rights reserved.
    </p>
  </footer>
</section>
