---
import Logo from "../assets/logo.svg";
import { Image } from "astro:assets";
---

<header>
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="index.html" role="link" class="navbar-logo">
        <!-- <img src={Logo.src} alt="Brand" /> -->
        <Image src={Logo} alt="Brand" width={50} height={50} />
      </a>
    </div>
    <a href="#contact" class="text-normal">Contact</a>
  </nav>
  <div class="hero">
    <h1 class="heading-1">
      Hello, I'm Victor! I'm a <span class="violet">passionate</span> web developer
      who loves <span class="pink">creativity</span> and<span class="green">
        technology</span
      >.
      <a href="#about" role="button" class="button">
        <span class="button-text">Learn more</span>
        <span class="button-box-icon">
          <i class="ri-arrow-down-line"></i>
        </span>
      </a>
    </h1>
  </div>
</header>
