<script
  src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs"
  type="module"></script>
<div class="player-lottie">
  <dotlottie-player
    src={"./diagram.json"}
    background="transparent"
    speed="1.7"
    totalFrames="125"
    direction="1"
    playMode="normal"
    style={{
      width: 258,
      margin: 0,
    }}
    autoplay
    loop
    ></dotlottie-player>
</div>
<style>
  .player-lottie {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
